{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Some Chart</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<form id="date">
    <div class="row">
        <div class="col">
            <input type="date" class="form-control" required value="" name="from-date">
        </div>
        <div class="col">
            <input type="date" class="form-control" required value="" name="to-date">
        </div>
        <div class="col">
            <button id="date-btn" type="submit" class="btn btn-primary">submit</button>
        </div>
    </div>

</form>
<div id="container" style="width:100%; height:400px;"></div>

<script>
  $(document).ready(function () {
    var options = {
      chart: {
        renderTo: 'container',
        type: 'spline',
        zoomType: 'x',
        panning: true,
        panKey: 'shift'
      },
      xAxis: {categories: []},
      series: [{}, {}],
    };
    var chart = new Highcharts.Chart(options);
    var baseUrl = "http://127.0.0.1:8000/api/list/";

    function fetchData(url, params = null) {
      $.getJSON(url, params, function () {
        console.log("success");
      })
        .done(function (data) {
          var updatedOptions = Object.assign(options, setOptions(data));
          chart.update(updatedOptions);
          updateRange(data);
        })
        .fail(function () {
          console.log("error");
        })
        .always(function () {
          console.log("complete");
          var btn = $('#date-btn');
          btn.removeAttr('disabled');
          btn.removeClass('btn-danger');
        });
    }

    function updateRange(data) {
      $('#date').find('input[name="from-date"]').val(data.date_range[0]);
      $('#date').find('input[name="to-date"]').val(data.date_range[1]);
    }

    function setOptions(data) {
      return {
        xAxis: {
          categories: data.date
        },
        series: [
          {
            data: data.value1
          }, {
            data: data.value2
          }
        ],
      }
    }

    fetchData(baseUrl);

    $('#date-btn').click(function (e) {
      e.preventDefault();
      var btn = $(this);
      btn.attr('disabled', '');
      btn.toggleClass('btn-danger');
      var queryParams = $('#date').serializeArray();

      fetchData(baseUrl, queryParams);
    });

  });
</script>

</body>
</html>